<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <style>
            body {
            margin: 0;
            border: 0;
            padding: 0;
            text-align: center;
            }
            
            #full-page-div {
            height: 100%;
            width: 100%;
            background: linear-gradient(to right, #ea52f8, #0066ff);
            color: white;
            }

        </style>
    </head>

    <body id="full-page-div">
        <div class="container" style="Color:white;" align="center">
            
            <FONT FACE="cursive" SIZE=10 COLOR="white"> Bienvenido!</FONT>
            <p>Has iniciado sesión.</p>
            <img src="https://media.tenor.com/uaQMpccz_yYAAAAd/out-west-travis-scott.gif">
        </div>
    </body>
</html>

